body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff6a00, #ffcc00);
    color: white;
    padding: 30px;
}

h1 {
    font-size: 50px;
}

.gage {
    font-size: 28px;
    font-weight: bold;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

input {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

table {
    margin: 20px auto;
    background: white;
    color: black;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

/* PODIUM */

.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px 0;
    gap: 15px;
}

.place {
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    width: 120px;
}

.first {
    background: gold;
    height: 180px;
    font-size: 22px;
    color: black;
}

.second {
    background: silver;
    height: 140px;
    color: black;
}

.third {
    background: #cd7f32;
    height: 120px;
    color: white;
}
